@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
    themes: black  --default, black --prefersdark;
  }

      @font-face {
    font-family: Ale;
    font-style: normal;
    src: url("/src/fonts/Ale.ttf") format("truetype");
  }

        @font-face {
    font-family: Ubuntu;
    font-style: normal;
    src: url("/src/fonts/Ubuntu.ttf") format("truetype");
  }

          @font-face {
    font-family: UbuntuMono;
    font-style: normal;
    src: url("/src/fonts/UbuntuMono.ttf") format("truetype");
  }
                    @font-face {
    font-family: Sr;
    font-style: normal;
    src: url("/src/fonts/Sr.ttf") format("truetype");
  }