@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
    themes: dark  --default, dark --prefersdark;
  }

      @font-face {
    font-family: Ale;
    font-style: normal;
    src: url("/src/fonts/Ale.ttf") format("truetype");
  }

        @font-face {
    font-family: Ubuntu;
    font-style: normal;
    src: url("/src/fonts/Ubuntu.ttf") format("truetype");
  }
