@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
    themes: halloween  --default, halloween --prefersdark;
  }

  @font-face {
    font-family: Cinzel;
    font-style: normal;
    src: url("/src/fonts/Cinzel-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: PT;
    font-style: normal;
    src: url("/src/fonts/PTSans-Regular.ttf") format("truetype");
  }

    @font-face {
    font-family: Source;
    font-style: normal;
    src: url("/src/fonts/SourceSans3.ttf") format("truetype");
  }

      @font-face {
    font-family: Ale;
    font-style: normal;
    src: url("/src/fonts/Ale.ttf") format("truetype");
  }

        @font-face {
    font-family: Ubuntu;
    font-style: normal;
    src: url("/src/fonts/Ubuntu.ttf") format("truetype");
  }

          @font-face {
    font-family: Fontin;
    font-style: normal;
    src: url("/src/fonts/Fontin.otf") format("opentype");
  }
